<div class="cardD">
    <div class="title">
        <h2>{{cardDashboard.name|uppercase}}</h2>
        <mat-icon class="icon" 
                  *ngIf="clase=='Categoría'" 
                  matTooltip="Ver Subcategorías"
                  matTooltipPosition="above"
                  matTooltipClass="tip"
                  (click)="openModalSubcategories()">
                  menu
        </mat-icon>
        <img class="img" *ngIf="clase=='Marca'" src={{cardDashboard.url}} alt="">
    </div>
    <h4>Fecha Creación: {{cardDashboard.created}}</h4>
    <div class="buttons">
        <button mat-flat-button color="accent" (click)="edit()">Editar</button>
        <button mat-stroked-button color="accent" *ngIf="!cardDashboard.default" (click)="delete()">Eliminar</button>
    </div>
</div>
