
// GAMA COLORES
$my-primary-color: (
    50 : #fff2e6,
    100 : #ffe0c1,
    200 : #ffcb97,
    300 : #ffb66d,
    400 : #ffa64e,
    500 : #ff962f,
    600 : #ff8e2a,
    700 : #ff8323,
    800 : #ff791d,
    900 : #ff6812,
    A100 : #ffffff,
    A200 : #fffbf9,
    A400 : #ffd8c6,
    A700 : #ffc7ad,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-accent-color: (
    50 : #ede8fb,
    100 : #d3c6f5,
    200 : #b5a1ee,
    300 : #977be7,
    400 : #815ee2,
    500 : #6b42dd,
    600 : #633cd9,
    700 : #5833d4,
    800 : #4e2bcf,
    900 : #3c1dc7,
    A100 : #fefdff,
    A200 : #d2caff,
    A400 : #a797ff,
    A700 : #927eff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$my-warn-color: (
    50 : #ffe9ea,
    100 : #ffc8ca,
    200 : #ffa3a7,
    300 : #fe7e83,
    400 : #fe6369,
    500 : #fe474e,
    600 : #fe4047,
    700 : #fe373d,
    800 : #fe2f35,
    900 : #fd2025,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffcecf,
    A700 : #ffb4b5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



