<div class="tienda">

    <div class="keen-slider" #sliderRef>
        <div class="keen-slider__slide center">
            <div class="flex">
                <img class="icon" src="assets/icons/gift.svg" alt="">
                <div>
                    <h4>SORTEOS PARA</h4>
                    <p>nuestros seguidores</p>
                </div>
            </div>
        </div>
        <div class="keen-slider__slide center">
            <div class="flex">
                <img class="icon" src="assets/icons/porciento.svg" alt="">
                <div>
                    <h4>DESCUENTOS</h4>
                    <p>al por mayor</p>
                </div>
            </div>
        </div>
        <div class="keen-slider__slide center">
            <div class="flex">
                <img class="icon" src="assets/icons/box.svg" alt="">
                <div>
                    <h4>ENTREGAS</h4>
                    <p>en todo el país</p>    
                </div>
            </div>
        </div>
        <div class="keen-slider__slide center">
            <div class="flex">
                <img class="icon" src="assets/icons/lock.svg" alt="">
                <div>
                    <h4>CONFIABLE</h4>
                    <p>compra segura</p>  
                </div>  
            </div>  
        </div>
    </div>
</div>