<div class="flex">
	<h1>Listado de Mascotas</h1>
	<button mat-flat-button color="primary" (click)="openModalNew('add')">Agregar Mascota</button>
</div>
<div class="cards">
	<mat-spinner  *ngIf="pets.length==0"></mat-spinner>  
        <ng-container *ngIf="pets.length!==0">
	<div *ngFor="let pet of pets" class="card1">
		<app-card-dashboard
			[cardDashboard]="pet"
			[clase]="clase"
			(onEdit)="openModalNew('edit', pet)"
			(onDelete)="openModalNew('delete', pet)"
		></app-card-dashboard>
	</div>
		</ng-container>
</div>

<mat-paginator [length]="pets.length"
              [pageSize]="6"
              aria-label="Select page">              
        </mat-paginator> 
