


<div class="container">

	<div class="subContainer">

		<div class="containerIMG">
			<img src="../../../../assets/images/imgContacto.png" class="imgContacto" alt="imagen de contacto">
		</div>

		<h1 class="titulo"><strong>Contactanos</strong></h1>

		<br />

		
		<div class="example-container">
			<p>Email.</p>
			<mat-form-field class="dimenciones" appearance="fill">
				<mat-label>Ingresa tu email</mat-label>
				<input matInput placeholder="email@gmail.com" required />
				<!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
			</mat-form-field>
		</div>

		<br>

		<p>Mensaje</p>
		<textarea name="" id="" cols="30" rows="10" class="button dimenciones"></textarea>	
		
		<button mat-raised-button color="primary" class="button dimenciones">CREAR CUENTA</button>


	</div>
</div>
