// *{
//     font-family: "Inter";
// }
.container{
    background-color: rgb(250, 247, 247);
    border: solid black 2px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer{

    max-width: 300px;
    width: 100%;  
    font-family: "Inter"
}

.titulo, .buttonGoogle {
    color: #6B42DD;
}

p{
    color: #4B4C4C;
}

.imgContacto{
    width: 100%;
    height: 20%;
}

.dimenciones{

    width: 100%;
    height: 60px;
    font-family: "Inter"
}



