<div class="container">
	<div class="subContainer">
		<h1 class="titulo"><strong>Olvide mi contraseña</strong></h1>
		<p>Por favor introduce tu correo electronico. Recibiras un enlace para crear una contraseña nueva.</p>

		<br />

		<div class="example-container">
			<p>Email.</p>
			<mat-form-field class="ancho alto" appearance="fill">
				<mat-label>Ingresa tu email</mat-label>
				<input matInput placeholder="email@gmail.com" required />
				<!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
			</mat-form-field>
		</div>

		<br>

		<button mat-raised-button color="primary" class="button ancho alto">RESTABLECER CONTRASEÑA</button>

	</div>
</div>
