@use '../../../commons/styles/colors.scss';

.banner{
    width: 100%;
}

.store{
    display: flex;
    margin: 15px;
    justify-content: space-between;
    position: relative;
}

.side{
    position: absolute;
    background: white;
    width: 0;
    overflow: auto;
    transition: 0.5s;
    z-index: 1;    
  top: 0;
  left: 0;
}

.main{
    margin: 15px 25px;
    flex: 1;
}

.close{
    display: block;
    margin: 0 0 0 auto;
    border: none;
    line-height: 14px;
    color:black;
    background: transparent;
    cursor: pointer;
  }

.open{
    border: none;
    line-height: 14px;
    color: colors.$gray-color-3;
    background: transparent;
    cursor: pointer;
    margin: 5px;
}

.close:hover,
.open:hover{
    color: colors.$secondary-color;
    transition: 0.5s;
}

@media(min-width:900px){

    .side{
        width: 250px;
        position: relative;
    }

    .close, .open{
        display: none
    }

}

.expand{
    padding: 0 15px;
}

.m-24{
    margin: auto 24px;
}

.slider {
    margin: 8px;
    width: 90%;
}

.precio{
    display: flex;
    justify-content: space-between;
    padding: 0 34px;
}

 
h3{
    margin: auto 0;
    font-weight: 500;
}

h3 a:last-of-type{
    color: colors.$secondary-color;
}

.sub{
    color:colors.$gray-color;
    cursor: pointer;
    margin: 0;
    padding: 5px 10px;
}

.sub:hover{
    background: colors.$ligth-bg2;
    color: colors.$secondary-color;
    transition: 0.5s;
}

label{
    color:colors.$gray-color;
}

a{
    text-decoration: none;
    color:colors.$gray-color-3;
}

a:hover{    
    color: colors.$secondary-color;
    transition: 0.5s;
}





mat-option{
    height: 80px;
}

.option{
    display: flex;
}

.option img{
    height: 60px;
    margin: auto 10px;
}

h4{
    color: colors.$secondary-color;
    margin: 3px;
}

.price {
    color: colors.$primary-color900;
    margin: auto 0;
  }

  .oferta{
    margin: auto 10px;
    color: gray;
    font-size: 12px;
    text-decoration: line-through;
  }

  .grid-card{
    margin: 20px 0;
    display: grid;
  }

  .input{
    width: 250px;
    margin: 0 20px 0 0;
    border: none;
    border-bottom: 1px solid colors.$gray-color;
    font-size: 17px;
    padding: 5px 10px;
    background-image: url(../../../../assets/icons/search.svg);
    background-repeat: no-repeat;
    background-position: 240px ;
    background-size: 16px;
}

  @media(min-width:660px){
    .grid-card{        
        grid-template-columns: repeat(2, 1fr);
    }

    .input{
        width: 500px;
        background-position: 490px ;
    }

  }

  @media(min-width:1150px){
    .grid-card{        
        grid-template-columns: repeat(3, 1fr);
    }

    .headm{
        display: flex;
        justify-content: space-between;
    }
  }

  .slash{
    color: colors.$primary-color;
  }

  .point{
    cursor: pointer;
  }