<div class="subs" *ngIf="dialog.modo=='add'">
    <h1 class="flex">Agregar {{dialog.tipo}}</h1>
    <input type="text" placeholder="Nombre {{dialog.tipo}}">
    <div class="buttons">
      <button mat-flat-button color="primary">Guardar</button>
      <button mat-stroked-button color="primary" [mat-dialog-close]="true">Cancelar</button>
    </div>
</div> 

<div class="subs" *ngIf="dialog.modo=='edit'">
    <h1 class="flex">Editar {{dialog.tipo}}</h1>
    <input type="text" value={{dialog.nombre}}>
    <div class="buttons">
      <button mat-flat-button color="primary">Editar</button>
      <button mat-stroked-button color="primary" [mat-dialog-close]="true">Cancelar</button>
    </div>
</div> 


<div class="subs" *ngIf="dialog.modo=='delete'">
    <h1 class="flex">Eliminar {{dialog.tipo}}</h1>
    <h3>¿Está seguro de eliminar la {{dialog.tipo}} <span class="span">{{dialog.nombre}}</span>? Esta puede ser una acción irreversible.</h3>
    <div class="buttons">
        <button mat-flat-button color="primary">Eliminar</button>
        <button mat-stroked-button color="primary" [mat-dialog-close]="true">Cancelar</button>
      </div>
  </div>