<div class="subs" *ngIf="dialog.modo=='add'">
  <h1 class="flex">Agregar Mascota</h1>
  <form [formGroup]="formGroup" autocomplete="off">
    <input type="text" placeholder="Nombre Mascota" formControlName="name">
    <div class="buttons">
      <button mat-flat-button 
              color="primary" 
              (click)="add()"
              [disabled]="disableButton"
					    [class.spinner]="disableButton">Guardar</button>
      <button mat-stroked-button color="primary" [mat-dialog-close]="true">Cancelar</button>
    </div>
  </form>
</div>


<div class="subs" *ngIf="dialog.modo=='edit'">
  <h1 class="flex">Editar Mascota</h1>
  <form [formGroup]="formGroup" autocomplete="off">
  <input type="text" formControlName="name" >
  <div class="buttons">
    <button mat-flat-button 
            color="primary" 
            (click)="edit()"
            [disabled]="disableButton"
					  [class.spinner]="disableButton">Editar</button>
    <button mat-stroked-button color="primary" [mat-dialog-close]="true">Cancelar</button>
  </div>
</form>
</div> 


<div class="subs" *ngIf="dialog.modo=='delete'">
  <h1 class="flex">Eliminar Mascota </h1>
  <h3 *ngIf="deleteButton">¿Está seguro de eliminar la mascota <span class="span">{{dialog.nombre}}</span>?</h3>
  <h3 *ngIf="!deleteButton">No se puede eliminar la mascota <span class="span">{{dialog.nombre}}</span> mientras contenga productos</h3>
  <div class="buttons">
      <button mat-flat-button 
              *ngIf="deleteButton"
              color="primary" 
              (click)="delete()"
              [disabled]="disableButton"
				      [class.spinner]="disableButton">Eliminar</button>
      <button mat-stroked-button color="primary" [mat-dialog-close]="true">Cancelar</button>
    </div>
</div>
