<div class="detail">
    <p *ngIf="product.percent!==(0 || undefined)" class="esOferta">{{product.percent}}% de Descuento!</p>
    <button class="close-icon btn" [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
    <img class="img" [src]=product.img alt="">

    <div class="data1">
        <h3><a href="/">Inicio </a><a href="" *ngIf="product.pet"><span class="slash">/</span> {{product.namePet}} </a> <a href="" *ngIf="product.category"><span class="slash">/</span> {{product.nameCategory}} </a><a href="" *ngIf="product.subcategory"><span class="slash">/</span> {{product.nameSubcategory}}</a></h3>

        <h2>{{product.name}}</h2>
        <h5>Marca: {{product.nameBrand}}</h5>

        <div class="flex2">

            <div class="flex">

                <div class="flex" *ngIf="!product.discount">
                    <h4 class="price">${{product.price}}</h4>
                </div> 
                <div class="flex" *ngIf="product.discount">
                    <h4 class="price">${{product.discount}}</h4>
                    <h4 class="oferta">${{product.price}}</h4>
                </div>  
            </div>
                
            <div class="flex margin">          
                <button mat-raised-button color="accent" class="btnm" (click)="modifyProducts(product)">
                    <img src="assets/icons/cart.svg" alt="">
                </button>
            </div>
        </div>
    </div>
    
    <div class="data2">
        <h5>Descripción:</h5>
        <p>{{product.description}}</p>
        
        <div class="flex">
            <button class="btn" (click)="like()">
                <img *ngIf=!product.like src="assets/icons/heartE.svg" alt=""> 
                <img *ngIf="product.like" src="assets/icons/heartF.svg" alt="">
            </button>
            <p class="margin2">Agregar a mi lista deseos</p>
        </div>    
    </div>
</div>
