<div class="flex">
    <h1>Listado de Marcas</h1>
    <button mat-flat-button color="primary" (click)="openModalNew('add')">Agregar Marca</button>
</div>
<div class="cards">    
    <mat-spinner  *ngIf="brands.length==0"></mat-spinner>  
        <ng-container *ngIf="brands.length!==0">
    <div *ngFor="let brand of obs|async" class="card1">
        <app-card-dashboard [cardDashboard]="brand" [clase]="clase" (onEdit)="openModalNew('edit',brand)" (onDelete)="openModalNew('delete',brand)"></app-card-dashboard>
    </div>
        </ng-container>

    </div>
         <mat-paginator 
            [length]="brands.length"
            [pageSize]="6"
            aria-label="Select page">              
        </mat-paginator> 
