
<div class="contenedor" id="footer">
    <div class="col">
        <h4>ACCESOS DIRECTOS</h4>
        <a href="">Inicio</a><br>        
        <a href="/store">Tienda</a><br>
        <a href="#">Políticas de privacidad</a>
    </div>
    <div class="col">
        <h4>AYUDA</h4>
        <a href="#">Preguntas frecuantes</a><br>        
        <a href="#">Reclamos</a><br>
        <a href="#">Políticas de devoluciones</a> 
    </div>
    <div class="col">
        <h4>CONTÁCTENOS</h4>
        
        <a href="#"><img src="assets/icons/telefono.svg" alt=""> 0800-555-444</a><br>        
        <a href="#"><img src="assets/icons/email.svg" alt=""> PetStore@gmail.com</a><br>
        <a href="#"><img src="assets/icons/reloj.svg" alt=""> Lun a Sab de 8am a 7pm</a> 
    </div>
    <div class="col">
        <h4>SEGUINOS</h4>
        <a href="#"><img class="logo" src="assets/icons/whatsapp.svg" alt=""></a>        
        <a href="#"><img class="logo" src="assets/icons/facebook.svg" alt=""></a>
        <a href="#"><img class="logo" src="assets/icons/instagram.svg" alt=""></a>
        <a href="#"><img class="logo" src="assets/icons/youtube.svg" alt=""></a>
    </div>
</div>
<div class="foot2">    
        <p>Todos los derechos reservados ©PetStore 2022</p>    
</div>