<div class="subs">
	<div *ngIf="!modeAdd && !modeEdit && !modeDelete">
		<div class="flex">
			<h1>{{ product.name }}</h1>
			<mat-icon class="add" (click)="add()">add_circle</mat-icon>
		</div>
		<h4>LISTADO DE SUBCATEGORÍAS</h4>

		<mat-chip-list #chipList>
			<mat-chip (click)="edit(sub)" *ngFor="let sub of subcategories">
				{{ sub.name }}
				<button matChipRemove>
					<mat-icon color="warn" (click)="delete(sub)">cancel</mat-icon>
				</button>
			</mat-chip>
		</mat-chip-list>
	</div>

	<div *ngIf="modeAdd">
		<h1 class="flex">{{ product.name }}</h1>
		<h4>NUEVA SUBCATEGORÍA</h4>
		<form [formGroup]="formGroup" autocomplete="off">
			<mat-form-field appearance="outline">
				<mat-label>Nombre de la subcategoría</mat-label>
				<input matInput required formControlName="name" />
				<mat-error *ngIf="formGroup.invalid">nombre requerido </mat-error>
			</mat-form-field>
			<div class="buttons">
				<button mat-flat-button 
						color="primary" 
						(click)="addSub()"
						[disabled]="disableButton"
				    	[class.spinner]="disableButton">Guardar</button>
				<button mat-stroked-button color="primary" (click)="add()">Cancelar</button>
			</div>
		</form>
	</div>

	<div *ngIf="modeEdit">
		<h1 class="flex">{{ product.name }}</h1>
		<h4>EDITAR SUBCATEGORÍA</h4>
		<form [formGroup]="formGroup" autocomplete="off">
			<mat-form-field appearance="outline">
				<mat-label>Nuevo nombre de la subcategoría</mat-label>
				<input matInput required formControlName="name" />
				<mat-error *ngIf="formGroup.invalid">nombre requerido </mat-error>
			</mat-form-field>
			<div class="buttons">
				<button mat-flat-button 
						color="primary" 
						(click)="editSub()"
						[disabled]="disableButton"
				    	[class.spinner]="disableButton">Editar</button>
				<button mat-stroked-button color="primary" (click)="edit(null)">Cancelar</button>
			</div>
		</form>
	</div>

	<div *ngIf="modeDelete">
		<h1 class="flex">{{ product.name }}</h1>
		<h3 *ngIf="deleteButton">¿Está seguro de eliminar la subcategoría <span class="span">{{ sub!.name }}</span>?</h3>
		<h3 *ngIf="!deleteButton">No se puede eliminar la subcategoría <span class="span">{{sub!.name}}</span> mientras contenga productos</h3>
		<div class="buttons">
			<button mat-flat-button
					*ngIf="deleteButton" 
					color="primary" 
					(click)="deleteSub()"
					[disabled]="disableButton"
				    [class.spinner]="disableButton">Eliminar</button>
			<button mat-stroked-button color="primary" (click)="delete(null)">Cancelar</button>
		</div>
	</div>
</div>
