
<div class="card">  
    <p *ngIf="card.percent!==0 " class="esOferta">OFERTA</p>  
    <button class="btn" (click)="like()">
        <img *ngIf=!card.like src="assets/icons/heartE.svg" alt="">
        <img *ngIf="card.like" src="assets/icons/heartF.svg" alt="">
    </button>   
    <div class="detail" (click)="openModalDetail()">
        <img class="img" src={{card.img}} style="width:100%">
        <h3>{{card.name}}</h3>
    </div>
    <div class="actions" >
        <div class="flex" *ngIf="card.percent==0 ">
            <h4 class="price">${{card.price}}</h4>
        </div> 
        <div class="flex" *ngIf="card.percent!==0 ">
            <h4 class="price">${{card.discount}}</h4>
            <h4 class="oferta">${{card.price}}</h4>
        </div> 

        <button mat-raised-button color="accent" (click)="modifyProducts(card)">
            <img src="assets/icons/cart.svg" alt="">
        </button>
    </div>         
  
</div> 





  
  

  