<div class="container">
	<h1>Bienvenido</h1>
	<h2>Registrar</h2>

	<div class="google">
		<img src="" alt="" />
		<p><a href="">Crear cuenta con Google</a></p>
	</div>

	<form action="">
		<label for="email">Email</label><br />
		<input type="text" id="email" name="email" placeholder="Email@gmail.com" /><br />
		<label for="pass">Contraseña</label><br />
		<input type="text" id="pass" name="pass" placeholder="******" /><br />
		<input type="checkbox" />Recuerdame <a href="">Olvide mi contraseña</a><br />
		<input type="submit" value="ingresar" /><br />
		Ya estas registrado?. <a href="">Inciar sesion</a>
	</form>
</div>
