<div class="home">

    <app-banner-principal></app-banner-principal>
    
    <app-banner></app-banner>

    <app-categorias></app-categorias>
        
    <h3>Nuevos productos</h3>

    <div class="navigation-wrapper">
        <mat-spinner  *ngIf="last8prods.length==0"></mat-spinner>
        <ng-container *ngIf="last8prods.length!==0">
        <ngx-wrapper-tiny-slider #tinySlider [config]="tinySliderConfig" class="items">
            <div class="item" *ngFor="let card of last8prods">
                <app-card-product [card]="card"></app-card-product>
             </div>
       </ngx-wrapper-tiny-slider>
    </ng-container>
    </div>

    <div class="banner">
        <img src="assets/images/catBanner.svg" alt="">
        <div class="flex">
            <h2>Suscribite para recibir promociones</h2>
            <input type="email" placeholder="Ingresa tu e-mail">
            <button mat-raised-button color="warn">Suscribirme</button>
        </div>
    </div> 

    <h3>Lo más vendido</h3>

    <mat-spinner  *ngIf="first8prods.length==0"></mat-spinner>
    <div class="navigation-wrapper">
        <ng-container *ngIf="first8prods.length!==0">
            <ngx-wrapper-tiny-slider #tinySlider2 [config]="tinySliderConfig" class="items">
                <div class="item" *ngFor="let card of first8prods">
                    <app-card-product [card]="card"></app-card-product>
                 </div>
           </ngx-wrapper-tiny-slider>
        </ng-container>
    </div>

    <app-marcas></app-marcas>

</div>