
@import "../../../../../../../node_modules/keen-slider/keen-slider.min.css";

.marcas{
    margin: 15px 40px 0;
    border:solid;
}

img{
    width: 150px;
    margin: auto;
}

.keen-slider__slide{
    justify-content: center;
    display: flex;
}