<div class="container">
	<div class="envioFacturacion">
		<h2 class="texPurple"><strong>Detalles de Envio y Facturacion</strong></h2>

		<mat-form-field appearance="outline">
			<mat-label>NUMERO DE DNI</mat-label>
			<input type="number" matInput placeholder="Ingresa tu DNI" />
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>CELULAR</mat-label>
			<input type="number" matInput placeholder="Ingresa tu celular" />
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>DIRECCIÓN</mat-label>
			<input matInput placeholder="Ingresa tu dirección" />
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>REFERENCIA</mat-label>
			<input matInput placeholder="Ingresa referencia de tu direccion" />
		</mat-form-field>
		<mat-form-field appearance="outline">
			<mat-label>NOTA</mat-label>
			<textarea matInput placeholder="Escribe aqui tu mensaje." cols="1" rows="4"></textarea>
		</mat-form-field>
		<button mat-raised-button color="primary" class="btn-large pagar">PAGAR CON TARJETA</button>
		<button mat-stroked-button color="accent" class="btn-large pagar" pagar>
			<img class="imgPaypal" src="../../../../assets/icons/paypal.png" alt="PAYPAL" />
			<strong>PAGAR CON PAYPAL</strong>
		</button>
	</div>

	<div class="resumenPedido">
		<div class="tituloPedido">
			<h2 class="texPurple"><strong>Resumen del Pedido</strong></h2>
		</div>
		<div class="resuPedidos">
			<div class="pedido" *ngFor="let product of itemsCart">
				<h3>{{ product.name }}</h3>
				<h3>{{ product.subtotal | currency: 'symbol':'$ ' }}</h3>
			</div>
		</div>
		<div class="total texPurple">
			<h2>Total</h2>
			<h2 class=""><strong>{{ _cartService.getTotal() | currency: 'symbol':'$ ' }}</strong></h2>
		</div>
	</div>
</div>

