<div class="container">
    <h4 class="title">Carrito  de Compras</h4><br>
    <section>
        <div class="item-product">
            <img src="assets/images/image 17.svg" alt="gt">
            <div class="info-product">
                <p class="name-product">Raza Medical Shampoo Hipoalergénico con Avena para perros 300 ml</p>
                <div class="actions">
                    <span class="price">
                        S/. 30.00
                    </span>
                    <div class="count">
                        <mat-icon class="plus">add</mat-icon>
                        <div><span class="number-count">2</span></div>
                        <mat-icon class="minus">remove</mat-icon>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
