<div class="container">
    <h4 class="title">Carrito  de Compras</h4>
    <section>
        <div class="item-product" *ngFor="let product of itemsCart">
            <img src={{product.img}} alt="gt">
            <div class="info-product">
                <p class="name-product">{{product.name}}</p>
                <div class="actions">
                    <span class="price">
                        {{product.subtotal | currency:'symbol': '$ '}}
                    </span>
                    <div class="count">
                        <span (click)="add(product)"><mat-icon class="plus">add</mat-icon></span>
                        <div><span class="number-count">  {{product.quantity}}</span></div>
                        <span (click)="minus(product)"><mat-icon class="minus">remove</mat-icon></span>
                        <span (click)="delete(product)"><mat-icon class="cancel">delete</mat-icon></span>
                    </div>
                </div>
            </div>
        </div>
       <div class="total" *ngIf="itemsCart.length!==0">
            <span>Total</span>
            <span>{{_cartService.getTotal()}}</span>
       </div>
    </section>
</div>
